[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solmates = "4G4MoTN3yYJbCWSHQtKoKK645xrbw2C3yDiy52n8rSrb"

[programs.devnet]
solmates = "4G4MoTN3yYJbCWSHQtKoKK645xrbw2C3yDiy52n8rSrb"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
